
 :root {
     --primary-white-color: #FFFFFF;
     --tarnsparent-text-color: rgba(255, 255, 255, 0.6);
     --accent-color: #2196F3;
     --primary-text-color: #212121;
     --secondary-text-color: #757575;
     --secondary-bgcolor: #2F303A;
 }
 
 body {
     color: var(--primary-text-color);
     background-color: var(--primary-white-color);
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em; 

    }
     
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* Logo */
.logo {
    color: var(--accent-color);
    font-family: Raleway;

font-weight: 700;
font-size: 26px;
line-height: 1.19;


}

.header-logo {
    color: var(--primary-text-color);
}
.footer-logo {
    color: var(--primary-white-color);
}
/* .logo:hover,
.logo:focus {
    color: var(--accent-color);

} */

/* Header */
.link-nav.current {
    color: var(--accent-color);
}

.link-nav {
    color: inherit;

 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 }
 .link-nav:hover,
 .link-nav:focus {
     color: var(--accent-color);
 }
 .contacts-link {
     color: var(--secondary-text-color);

     font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 }
 .contacts-link:hover,
 .contacts-link:focus {
    color: var(--accent-color);

 }
/* Hero */
 
.hero-title,
.features-item-title  {
    text-transform: uppercase;
}
.hero-title {
   color: var(--primary-white-color);
    
font-weight: 900;
font-size: 44px;
line-height: 1.36;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;


}
.hero-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

   
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

border: none;
border-radius: 4px;
cursor: pointer;

}


/* Footer */
.page-footer,
.page-hero {
    background-color: var(--secondary-bgcolor);
}
.address-link {
    color: var(--primary-white-color);
   
font-style: normal;

font-size: 14px;
line-height: 1.71;
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.contact-link {
    color: var(--tarnsparent-text-color);
    
font-style: normal;

font-size: 14px;
line-height: 1.71;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
 